@import "tailwindcss";

@font-face {
  font-family: IranSans;
  src: url(./assets/fonts/IRANSans.ttf); /* url of the font */
  font-weight: normal;
}
@font-face {
  font-family: IranSans;
  src: url(./assets/fonts/IRANSans_bold.ttf); /* url of the font */
  font-weight: bold;
}

html {
  font-size: 12px;
}

body {
  font-family: IranSans;
  direction: rtl;
  text-align: right;
  font-size: 12px;
  background-color: #f6f6f8;
}

/* form styles */
input,
select,
textarea {
  border: solid 1px #d2d1d1;
  padding: 12px 16px;
  width: 100%;
  border-radius: 8px;
  transition: 0.3s;
  resize: none;
}

select:disabled {
  background-color: #eeeeee;
  color: #adadad;
}
